<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="brand">
         <a class="name" routerLink='home'>Plan<span>A</span></a>
         <p>We make it easier for you. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="explore">
          <h4>Explore</h4>
          <div class="line"></div>
            <li class="nav-item mt-3">
              <a class="nav-link" routerLink='' >Home</a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" routerLink='about' >About</a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" routerLink='contact' >Contact</a>
            </li>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact">
          <h4>Contact Us</h4>
          <div class="line"></div>
          <p class="mt-4">Call Us: +201157366229</p>
          <p>Address: Hdaek Al-Qobba,<br> Cairo, Egypt </p>
          <p>Email: MaryamFarrag0@gmail.com</p>
          <p><a href="#"><i class="mx-2 fa fa-facebook"></i></a>
            <a href="#"><i class="mx-2 fa fa-twitter"></i></a>
            <a href="#"> <i class="mx-2 fa fa-instagram"></i> </a>
             <a href="#"> <i class="mx-2 fa fa-linkedin"></i> </a></p>


        </div>
      </div>
    </div>
    <div class="credit">
      <p>©️ 2019 PlanA. All Rights Reserved.</p>
    </div>
  </div>
</footer>
