.show-place{
    h1{
        color:rgb(63, 62, 62);
    }
    .card{
        padding:10px;
        background-color: rgba(153, 162, 226, 0.3); 
        border:none;
        border-radius: 10px;
    }
    .img{
        img{
            border-radius: 10px;
        } 
    }
    .desc{
        color:rgb(73, 73, 73);
    }
    button{
        background-color: rgba(75, 86, 138,.7);
        border:1px #fff solid;
        color:#fff;
    }
}