<div class="container">
  <div class="about mt-5">
    <h1 class="text-center"> What Is PlanA?</h1>
    <div class="info">
      <p>We, at PlanA, provide you the best places you want to visit or go to for most purpose,
        whether it's for a vacation, an important fancy event or a meeting!.
      Soon we will add more nice features to help find more places for more purposes, All you have to do is 
    choose the best place for what you want. We make it easier for you.</p>
    </div>

    <header class="my-5">
        <h2>Our Staff</h2>
        <div class="line"></div>
    </header>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="../assets/images/staff-1.png">
          <h4 class="ml-4 mt-3">Sameer ElSayed</h4>
          <p class="ml-4">CEO</p>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../assets/images/staff-2.png">
          <h4 class="ml-4 mt-3">Mark Spenser</h4>
          <p class="ml-4">Digital Marketer</p>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../assets/images/staff-3.png">
          <h4 class="ml-4 mt-3">Fareed Noah</h4>
          <p class="ml-4">CTO</p>
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../assets/images/staff-4.png">
          <h4 class="ml-4 mt-3">Edward Samuel</h4>
          <p class="ml-4">Sales Representitive</p>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../assets/images/staff-5.png">
          <h4 class="ml-4 mt-3">John Norton</h4>
          <p class="ml-4">Data Analayser</p>
        </ng-template>  
      </owl-carousel-o>

    <header class="mt-5">
        <h2>Any Suggestions?</h2>
        <div class="line"></div>
    </header>
    <div class="slider mt-5">
      <div class="contact mb-3 mx-auto text-center">
        <p class="mt-3">Contact me on: +201157366229</p>
        <p class="mt-3">Or send me a mail on: MaryamFarrag0@gmail.com</p>
      </div>  

    </div>

  </div>
</div>