<section class="home">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
       
        <div class="carousel-inner">
          <div class="carousel-item first-bg active">
              <div class="layer text-center">
                    <h1 class="text-center mb-2">Choose Your Wedding Place</h1>   
                    <p class="my-2">We have Places than a one type of wedding places<br> you could choose from.</p>  
                    <button class="btn btn-outline-light mt-2" routerLink="wedding-board"> Check Places</button>      
              </div>
          </div>
          <div class="carousel-item second-bg">
                <div class="layer text-center">
                    <h2 class="text-center mb-2">Places For Your Meetings</h2> 
                    <p class="my-2">You can find places all over the city,<br> nice and calm.</p>      
                    <button class="btn my-2 btn-outline-light" routerLink="work-board">Check Places</button>      
                  </div>
          </div>
          <div class="carousel-item third-bg">
              <div class="layer text-center">
                  <h2 class="text-center">The Best Vacations For You</h2>   
                  <p>New vacations every day in every place<br> with equivalent prices. </p>    
                  <button class="btn btn-outline-light" routerLink="vacation-board">Check Places</button>      
                </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
</section>
<section class="services">
  <div class="container">
    <div class="header text-center">
      <h3>Up-coming Features.</h3>
      <p class="font-italic">Choose the best place for whatever you want.</p>
    </div>
    <div class="content">
      <div class="row my-5">
        <div class="col-md-4">
          <div class="text mb-3 wow fadeInRight" data-wow-delay="1s">
              <div class="layer2"></div>
              <h4>Choose one of the best hotels.</h4>
              <p>Soon enough we will provide you the service to choose the most suitable hotel for whereever place you want 
                to stay in! You can choose the place, search for best hotels in there, compare them then pick the 
                one for you!</p>
          </div> 
        </div>
        <div class="col-md-4">
          <div class="text mb-3 wow fadeIn">
              <div class="layer"></div>
          <h4>Check the new offers.</h4>
          <p>We will follow all the offers made by places and bring it up to you to see and pick! Whether it is an offer
            for a vaction or weddings or co-working spaces. 
          </p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="text mb-3 wow fadeInLeft" data-wow-delay=".5s">
              <div class="layer3"></div>
            <h4>Choose where you want to learn.</h4>
            <p>We all sometimes get lost in the "Where do i go to learn this or that?", right?.
              We will suggest to you all the best places for all fields with adequate prices, whether it's online
            or offline! You just gotta pick the field you want. </p>
          </div>
          </div>
      </div>
    </div>
  </div>
</section>


